<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>-->
    <!--    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Seller Profile</title>
</head>

<body class="align-items-center" style="height: 100vh;">
<nav th:replace="~{fragments/navbar-seller :: navbar(activePage='profile')}"></nav>

<div class="container px-lg-5 align-items-center justify-content-center">
    <div class="card mt-5">
        <div class="card-header">
            <div class="row mt-2">
                <div class="col align-content-start">
                    <h2>Seller Profile</h2>
                </div>

            </div>
        </div>
        <div class="card-body" th:object="${data}">

            <div th:if="${message}" th:class="${'alert mb-2 alert-dismissible fade show ' + alertClass}"
                 role="alert">
                <strong th:text="${message}">--!</strong>
                <button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close"></button>
            </div>

            <!-- Section: Profile -->
            <div class="mb-4 row">
                <label class="col-sm-5 col-form-label" for="name">Username:</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext" id="username" th:value="*{username}">
                </div>
            </div>
            <div class="mb-4 row">
                <label class="col-sm-5 col-form-label" for="name">Password:</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext" id="password" th:value="*{password}">
                </div>
            </div>
            <div class="mb-4 row">
                <label class="col-sm-5 col-form-label" for="name">Name:</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext" id="name" th:value="*{name}">
                </div>
            </div>
            <div class="mb-4 row">
                <label class="col-sm-5 col-form-label" for="email">Email:</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext" id="email" th:value="*{email}">
                </div>
            </div>
            <div class="mb-4 row">
                <label class="col-sm-5 col-form-label" for="address">Address:</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext" id="address" th:value="*{address}">
                </div>
            </div>

            <!-- Edit Profile Button -->
            <div class="text-center m-3">
                <a class="btn btn btn-primary"
                   th:href="@{/user/update/{id}(id=${data.id})}">Edit Profile</a>

            </div>


            <div class="card mt-5">
                <div class="card-body">
                    <!-- Section: Apapay -->
                    <div class="mb-4 row mt-4">
                        <h2>Apapay</h2>
                        <label class="col-sm-5 col-form-label" for="balance">User Balance:</label>
                        <input type="text" readonly class="form-control-plaintext" id="balance" th:value="*{balance}">

                        <!-- Withdraw Button -->
                    </div>

                    <div class="text-center m-3">
                        <a type="button" class="btn btn-md btn btn-success" th:href="@{/withdraw}">Withdraw</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="text-center mb-2 mt-4">
        <a class="btn btn-danger" th:href="@{/user/logout}">Sign Out</a>
<!--        <a type="button" class="btn btn-outline-danger" th:href="@{/user/delete/{id}(id=${data.id})}">Delete Account</a>-->
        <a type="button" class="btn btn-outline-danger" th:href="@{/user/delete}">Delete Account</a>
    </div>
</div>

<!-- Include JS -->
<!--<script th:include="js"></script>-->

</body>
</html>