<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Daftar Catalog</title>

    <style>
        .card-img-top {
            object-fit: cover;
            height: 200px;
            width: 100%;
        }
        body, html {
            min-height: 100vh;
            width: 100%;
            margin: 0 auto;
        }
    </style>

</head>

<body>
<nav th:replace="~{fragments/navbar-seller :: navbar(activePage='catalog')}"></nav>
<div class="container"
        style="height:100vh; width:100%;">
    <div class="row">

        <h2 class="text-center mt-2">Daftar Catalog</h2>
        <div class="text-center pt-5">
            <h2>Chart Daily Product Sales</h2>
            <div class="row justify-content-center m-2">
                <canvas id="chartCatalog"></canvas>
            </div>
        </div>

        <div class="col-md-3">
<<<<<<<< HEAD:frontend/src/main/resources/templates/catalog/seller-viewall-catalog.html
            <button class="btn btn-primary mt-3" type="button">Add Product</button>
========
            <a class="btn btn-primary mt-3" type="button" href="/catalog/create">Add Product</a>
>>>>>>>> 62b671dd9d429ecead2eee36ec1276baf3c2e099:frontend/src/main/resources/templates/seller-viewall-catalog.html
            <hr>
            <div class="mb-4">
                <p><b>Filter by Name</b></p>
                <form th:action="@{/catalog/find-by-name-seller}" method="GET" id="formOne">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="name" th:value="${enteredName}" id="productName">
                        <label for="productName">Product Name</label>
                    </div>
                </form>
            </div>
            <hr>
            <div class="mb-4">
                <p><b>Filter by Price</b></p>
                <form th:action="@{/catalog/price-range-seller}" method="GET" id="formTwo">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="minPrice" id="minPrice"  th:value="${minPrice}">
                        <label for="minPrice">Min Price</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="maxPrice" id="maxPrice" th:value="${maxPrice}">
                        <label for="maxPrice">Max Price</label>
                    </div>
                </form>
            </div>
            <hr>
            <div class="mb-4">
                <p><b>Sort Catalog</b></p>
                <form th:action="@{/catalog/sort-by-seller}" method="GET">
                    <div class="input-group mb-3">
                        <select class="form-select form-select-sm" aria-label="Field to Sort" name="sortField">
                            <option th:value="productName">Product Name</option>
                            <option th:value="price">Product Price</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortDirection" id="ascendingRadio" value="ASC">
                            <label class="form-check-label" for="ascendingRadio">Ascending</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortDirection" id="descendingRadio" value="DESC">
                            <label class="form-check-label" for="descendingRadio">Descending</label>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Sort</button>
                </form>
            </div>
        </div>

        <div class="col-md-9" >
            <div class="row" >
                <div class="col-md-4 mb-4 " th:each="item, iterationStatus : ${catalogData}" th:if="${#bools.isTrue(valid)}">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex justify-content-center align-items-center m-2" style="height: 200px;">
                            <img alt="" th:src="|data:image/jpeg;base64,${item['image']}|" class="card-img-top img-fluid" style="object-fit: cover; width: 200px; height: 200px;">
                        </div>
                        <hr>
                        <div class="card-body">
                            <h5 th:text="${item['productName']}" class="card-title"></h5>
                            <p th:text="'Rp ' + ${item['price']}" class="card-text"><b></b></p>
                            <small class="text-muted mb-0"><span th:text="${item['productDescription']}"></span></small>
                        </div>

                        <a class="icon-link mb-1 ms-1" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                            Edit product
                        </a>
                    </div>
                </div>
                <div class="alert alert-warning d-flex align-items-center" role="alert" th:unless="${#bools.isTrue(valid)}">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div th:text="${error}">
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</div>
<script>
    $('#formOne input').keypress(function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $('#formOne').submit();
        }
    });

    $('#formTwo input').keypress(function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $('#formTwo').submit();
        }
    });
</script>
<script th:inline="javascript">
    var listCatalog = [[${listCatalogChart}]];

    var labels = Object.keys(listCatalog);
    var chartData = labels.map(function(key){
        return listCatalog[key];
    });

    var colors = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ];

    var borderColors = [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ];
    const ctx = document.getElementById('chartCatalog');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Products Sold',
                data: chartData,
                backgroundColor: colors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>

</html>