<div style="width: 1440px; height: 2346px; position: relative; background: #F7FAFC">
    <div style="width: 926px; height: 62px; left: 384px; top: 206px; position: absolute">
      <div style="width: 926px; height: 62px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 6px; border: 1px #DEE2E7 solid"></div>
      
      <div style="width: 172px; height: 40px; left: 658px; top: 11px; position: absolute">
        <div style="width: 172px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 6px; border: 1px #DEE2E7 solid"></div>
        <div style="left: 10px; top: 11px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Featured</div>
        <div style="width: 24px; height: 24px; left: 140px; top: 8px; position: absolute">
          <div style="width: 12px; height: 7.41px; left: 6px; top: 8.30px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>

      
      <div style="left: 20px; top: 23px; position: absolute"><span style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">12,911 items in </span><span style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Mobile accessory</span></div>
    </div>


    <div style="width: 1440px; height: 56px; left: 0px; top: 86px; position: absolute">
      <div style="width: 1440px; height: 56px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 1440px; height: 0px; left: 0px; top: 56px; position: absolute; border: 1px #E0E0E0 solid"></div>
      <div style="width: 1440px; height: 0px; left: 1440px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 1px #E0E0E0 solid"></div>
      <div style="width: 115px; height: 24px; left: 1197px; top: 16px; position: absolute">
        <div style="left: 0px; top: 2px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Ship to</div>
        <div style="width: 22px; height: 16px; left: 60px; top: 5px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <img style="width: 22px; height: 16px" src="https://via.placeholder.com/22x16" />
        </div>
        <div style="width: 24px; height: 24px; left: 91px; top: 0px; position: absolute">
          <div style="width: 12px; height: 7.41px; left: 6px; top: 8.30px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>
      <div style="left: 1041px; top: 16px; position: absolute">
        <div style="left: 0px; top: 2px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">English, USD</div>
        <div style="width: 24px; height: 24px; left: 100px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 620px; height: 24px; left: 130px; top: 16px; position: absolute">
        <div style="width: 61px; height: 24px; left: 559px; top: 0px; position: absolute">
          <div style="width: 24px; height: 24px; left: 37px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
          </div>
          <div style="left: 0px; top: 1px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Help</div>
        </div>
        <div style="left: 450px; top: 1px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Menu item</div>
        <div style="left: 359px; top: 1px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Projects</div>
        <div style="left: 252px; top: 1px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Gift boxes</div>
        <div style="left: 147px; top: 1px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Hot offers</div>
        <div style="left: 30px; top: 1px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">All category</div>
        <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
          <div style="width: 18px; height: 12px; left: 3px; top: 6px; position: absolute; background: #1C1C1C"></div>
        </div>
      </div>
    </div>

    <div style="width: 295px; height: 405px; left: 384px; top: 340px; position: absolute">
      <div style="width: 295px; height: 405px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 6px; border: 1px #DEE2E7 solid"></div>
      
      <div style="width: 108px; left: 20px; top: 310px; position: absolute">
        <div style="width: 80px; height: 15px; left: 0px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 16px; height: 15px; background: #D4CDC5"></div>
          <div style="width: 16px; height: 15px; background: #FF9017"></div>
          <div style="width: 16px; height: 15px; background: #FF9017"></div>
          <div style="width: 16px; height: 15px; background: #FF9017"></div>
          <div style="width: 16px; height: 15px; background: #FF9017"></div>
        </div>
        <div style="left: 86px; top: 0px; position: absolute; color: #FF9017; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">7.5</div>
      </div>

      <div style="width: 40px; height: 40px; padding: 8px; left: 235px; top: 280px; position: absolute; background: white; box-shadow: 0px 1px 2px rgba(56.31, 56.31, 56.31, 0.08); border-radius: 6px; border: 1px #DEE2E7 solid; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 20px; height: 18.35px; background: #0D6EFD"></div>
        </div>
      </div>
      <div style="width: 295px; height: 0px; left: 0px; top: 261px; position: absolute; border: 1px #EFF2F4 solid"></div>
      <div style="width: 230px; height: 230px; padding-top: 13.29px; padding-bottom: 14.31px; padding-left: 14.31px; padding-right: 13.29px; left: 33px; top: 15px; position: absolute; background: white; justify-content: center; align-items: center; display: inline-flex">
        <img style="width: 202.40px; height: 202.40px" src="https://via.placeholder.com/202x202" />
      </div>
      <div style="width: 215px; left: 20px; top: 339px; position: absolute; color: #606060; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">GoPro HERO6 4K Action Camera - Black</div>
      <div style="left: 20px; top: 278px; position: absolute">
        <div style="left: 0px; top: 0px; position: absolute; color: #1C1C1C; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">$99.50</div>
        <div style="left: 71px; top: 4px; position: absolute; color: #8B96A5; font-size: 16px; font-family: Inter; font-weight: 400; text-decoration: line-through; word-wrap: break-word">$1128.00</div>
      </div>
    </div>
    <div style="width: 1440px; height: 324px; left: 0px; top: 2022px; position: absolute; background: white">
      <div style="width: 1440px; height: 68px; left: 0px; top: 256px; position: absolute">
        <div style="width: 1440px; height: 68px; left: 0px; top: 0px; position: absolute; background: #EFF2F4; border-top: 1px #DEE2E7 solid"></div>
        <div style="width: 1176px; height: 24px; left: 128px; top: 23px; position: absolute">
          <div style="width: 320px; left: 0px; top: 0px; position: absolute; color: #606060; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">© 2023 Ecommerce. </div>
        </div>
      </div>
    </div>
    <div style="width: 728px; height: 32px; left: 386px; top: 288px; position: absolute">
      <div style="width: 115px; height: 32px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; padding-right: 6px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 5px; border: 1px #0D6EFD solid; justify-content: flex-start; align-items: center; gap: 9px; display: inline-flex">
        <div style="color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Samsung</div>
        <div style="width: 20px; height: 20px; position: relative">
          <div style="width: 11.67px; height: 11.67px; left: 4.17px; top: 4.17px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 89px; height: 32px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; padding-right: 6px; left: 123px; top: 0px; position: absolute; background: white; border-radius: 5px; border: 1px #0D6EFD solid; justify-content: flex-start; align-items: center; gap: 9px; display: inline-flex">
        <div style="color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Apple</div>
        <div style="width: 20px; height: 20px; position: relative">
          <div style="width: 11.67px; height: 11.67px; left: 4.17px; top: 4.17px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 84px; height: 32px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; padding-right: 6px; left: 220px; top: 0px; position: absolute; background: white; border-radius: 5px; border: 1px #0D6EFD solid; justify-content: flex-start; align-items: center; gap: 9px; display: inline-flex">
        <div style="color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Poco</div>
        <div style="width: 20px; height: 20px; position: relative">
          <div style="width: 11.67px; height: 11.67px; left: 4.17px; top: 4.17px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 104px; height: 32px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; padding-right: 6px; left: 312px; top: 0px; position: absolute; background: white; border-radius: 5px; border: 1px #0D6EFD solid; justify-content: flex-start; align-items: center; gap: 9px; display: inline-flex">
        <div style="color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Metallic</div>
        <div style="width: 20px; height: 20px; position: relative">
          <div style="width: 11.67px; height: 11.67px; left: 4.17px; top: 4.17px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 89px; height: 32px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; padding-right: 6px; left: 424px; top: 0px; position: absolute; background: white; border-radius: 5px; border: 1px #0D6EFD solid; justify-content: flex-start; align-items: center; gap: 9px; display: inline-flex">
        <div style="color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">4 star</div>
        <div style="width: 20px; height: 20px; position: relative">
          <div style="width: 11.67px; height: 11.67px; left: 4.17px; top: 4.17px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 89px; height: 32px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; padding-right: 6px; left: 521px; top: 0px; position: absolute; background: white; border-radius: 5px; border: 1px #0D6EFD solid; justify-content: flex-start; align-items: center; gap: 9px; display: inline-flex">
        <div style="color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">3 star</div>
        <div style="width: 20px; height: 20px; position: relative">
          <div style="width: 11.67px; height: 11.67px; left: 4.17px; top: 4.17px; position: absolute; background: #8B96A5"></div>
        </div>
      </div>
      <div style="left: 628px; top: 7px; position: absolute; color: #0D6EFD; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Clear all filter</div>
    </div>
    <div style="width: 240px; height: 1011px; left: 132px; top: 207px; position: absolute">
      <div style="width: 230px; height: 48px; padding-top: 12px; padding-bottom: 12px; left: 2px; top: 865px; position: absolute; border-top: 1px #DEE2E7 solid; justify-content: center; align-items: center; gap: 130px; display: inline-flex">
        <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Condition</div>
        <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 230px; height: 48px; padding-top: 12px; padding-bottom: 12px; left: 2px; top: 914px; position: absolute; border-top: 1px #DEE2E7 solid; justify-content: center; align-items: center; gap: 147px; display: inline-flex">
        <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Ratings</div>
        <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 230px; height: 48px; padding-top: 12px; padding-bottom: 12px; left: 2px; top: 963px; position: absolute; border-top: 1px #DEE2E7 solid; justify-content: center; align-items: center; gap: 101px; display: inline-flex">
        <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Manufacturer</div>
        <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 230px; height: 264px; left: 0px; top: 248px; position: absolute">
        <div style="width: 230px; height: 48px; padding-top: 12px; padding-bottom: 12px; left: 0px; top: 0px; position: absolute; border-top: 1px #DEE2E7 solid; justify-content: center; align-items: center; gap: 151px; display: inline-flex">
          <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Brands</div>
          <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
          </div>
        </div>
        <div style="width: 229px; height: 216px; left: 1px; top: 48px; position: absolute">
          <div style="width: 229px; height: 36px; padding-top: 9px; padding-bottom: 8px; padding-right: 11px; left: 0px; top: 180px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 218px; color: #0D6EFD; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">See all </div>
          </div>
          <div style="width: 114.50px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; padding-top: 2px; padding-bottom: 2px; padding-left: 1px; padding-right: 13px; justify-content: flex-start; align-items: center; display: flex">
              <div style="width: 20px; height: 20px; position: relative">
                <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #0D6EFD; border-radius: 5px"></div>
                <div style="width: 13px; height: 9px; left: 4px; top: 6px; position: absolute; background: white"></div>
              </div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Samsung</div>
          </div>
          <div style="width: 101.14px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 72px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; position: relative">
              <div style="width: 20px; height: 20px; left: 1px; top: 2px; position: absolute; border-radius: 5px; border: 2px #BDBDBD solid"></div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Huawei</div>
          </div>
          <div style="width: 89.69px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 36px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; padding-top: 2px; padding-bottom: 2px; padding-left: 1px; padding-right: 13px; justify-content: flex-start; align-items: center; display: flex">
              <div style="width: 20px; height: 20px; position: relative">
                <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #0D6EFD; border-radius: 5px"></div>
                <div style="width: 13px; height: 9px; left: 4px; top: 6px; position: absolute; background: white"></div>
              </div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Apple</div>
          </div>
          <div style="width: 93.51px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 108px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; padding-top: 2px; padding-bottom: 2px; padding-left: 1px; padding-right: 13px; justify-content: flex-start; align-items: center; display: flex">
              <div style="width: 20px; height: 20px; position: relative">
                <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #0D6EFD; border-radius: 5px"></div>
                <div style="width: 13px; height: 9px; left: 4px; top: 6px; position: absolute; background: white"></div>
              </div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Pocco</div>
          </div>
          <div style="width: 101.14px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 144px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; position: relative">
              <div style="width: 20px; height: 20px; left: 1px; top: 2px; position: absolute; border-radius: 5px; border: 2px #BDBDBD solid"></div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lenovo</div>
          </div>
        </div>
      </div>
      <div style="width: 230px; height: 264px; left: 2px; top: 532px; position: absolute">
        <div style="width: 230px; height: 48px; padding-top: 12px; padding-bottom: 12px; left: 0px; top: 0px; position: absolute; border-top: 1px #DEE2E7 solid; justify-content: center; align-items: center; gap: 138px; display: inline-flex">
          <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Features</div>
          <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
          </div>
        </div>
        <div style="width: 228px; height: 216px; left: 0px; top: 48px; position: absolute">
          <div style="width: 228px; height: 36px; padding-top: 9px; padding-bottom: 8px; padding-right: 11px; left: 0px; top: 180px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 217px; color: #0D6EFD; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">See all</div>
          </div>
          <div style="width: 103.55px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; padding-top: 2px; padding-bottom: 2px; padding-left: 1px; padding-right: 13px; justify-content: flex-start; align-items: center; display: flex">
              <div style="width: 20px; height: 20px; position: relative">
                <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #0D6EFD; border-radius: 5px"></div>
                <div style="width: 13px; height: 9px; left: 4px; top: 6px; position: absolute; background: white"></div>
              </div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Metallic</div>
          </div>
          <div style="width: 114px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 72px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; position: relative">
              <div style="width: 20px; height: 20px; left: 1px; top: 2px; position: absolute; border-radius: 5px; border: 2px #BDBDBD solid"></div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">8GB Ram</div>
          </div>
          <div style="width: 139.65px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 36px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; position: relative">
              <div style="width: 20px; height: 20px; left: 1px; top: 2px; position: absolute; border-radius: 5px; border: 2px #BDBDBD solid"></div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Plastic cover</div>
          </div>
          <div style="width: 138.70px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 108px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; position: relative">
              <div style="width: 20px; height: 20px; left: 1px; top: 2px; position: absolute; border-radius: 5px; border: 2px #BDBDBD solid"></div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Super power</div>
          </div>
          <div style="width: 152px; height: 36px; padding-top: 6px; padding-bottom: 6px; padding-right: 16px; left: 0px; top: 144px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 34px; height: 24px; position: relative">
              <div style="width: 20px; height: 20px; left: 1px; top: 2px; position: absolute; border-radius: 5px; border: 2px #BDBDBD solid"></div>
            </div>
            <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Large Memory</div>
          </div>
        </div>
      </div>
      <div style="width: 230px; height: 48px; padding-top: 12px; padding-bottom: 12px; left: 2px; top: 816px; position: absolute; border-top: 1px #DEE2E7 solid; justify-content: center; align-items: center; gap: 117px; display: inline-flex">
        <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Price range</div>
        <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
        </div>
      </div>
      <div style="width: 240px; height: 36px; padding-top: 9px; padding-bottom: 8px; padding-right: 11px; left: 0px; top: 48px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 229px; color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mobile accessory</div>
      </div>
      <div style="width: 230px; height: 36px; padding-top: 9px; padding-bottom: 8px; padding-right: 11px; left: 0px; top: 120px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 219px; color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Smartphones </div>
      </div>
      <div style="width: 230px; height: 36px; padding-top: 9px; padding-bottom: 8px; padding-right: 11px; left: 0px; top: 192px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 219px; color: #0D6EFD; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">See all</div>
      </div>
      <div style="width: 230px; height: 36px; padding-top: 9px; padding-bottom: 8px; padding-right: 11px; left: 0px; top: 84px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 219px; color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Electronics</div>
      </div>
      <div style="width: 230px; height: 36px; padding-top: 9px; padding-bottom: 8px; padding-right: 11px; left: 0px; top: 156px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 219px; color: #505050; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Modern tech</div>
      </div>
      <div style="width: 230px; height: 48px; padding-top: 12px; padding-bottom: 12px; left: 0px; top: 0px; position: absolute; border-top: 1px #DEE2E7 solid; justify-content: center; align-items: center; gap: 133px; display: inline-flex">
        <div style="color: #1C1C1C; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Category</div>
        <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 12px; height: 7.41px; background: #8B96A5"></div>
        </div>
      </div>
    </div>
  </div>