<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <!-- <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>View All Catalog</title>
</head>

<body>
<!-- <nav th:replace="~{fragments/navbar :: navbar('catalog')}"></nav> -->
<div class="container">
    <div class="text-center pt-5">
        <h2>Daftar Catalog</h2>
    </div>
    <!-- <div class="row justify-content-center m-2">
      <div class="text-center mx-auto">
      <form th:action="@{/search}" method="GET">
        <input type="text" name="query" placeholder="Enter your search query" th:value="${query}" />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      </div>
    </div> -->
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Seller</th>
            <th scope="col">Price</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Category</th>
            <th scope="col">Stock</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="catalog, iterationStatus : ${listCatalog}">
            <th scope="row" th:text="${iterationStatus.count}"></th>
            <td th:text="${catalog.seller}"></td>
            <td th:text="${catalog.price}"></td>
            <td th:text="${catalog.productName}"></td>
            <td th:text="${catalog.productDescription}"></td>
            <td th:text="${catalog.categoryName}"></td>
            <td th:text="${catalog.stock}"></td>
            <!--            <th scope="row"><img alt="" th:src="@{'/api/images/' + ${catalog.idCatalog}}"  style="width: 100px;height: 100px;"></th>-->

            <td>
                <img th:if="${catalog.image != null}" th:src="@{'data:image/jpeg;base64,'+${catalog.image}}" style="width: 100px;height: 100px;"/>
                <img th:if="${catalog.image == null}" src="/img/image-load-failed.png" style="width: 100px;height: 100px;"/>
            </td>

            <td>
                <a class="btn btn btn-secondary"
                   th:href="@{/catalog/update/{catalogId}(catalogId=${catalog.idCatalog})}">Edit</a></span>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="text-center m-3">
        <a type="button" class="btn btn-primary m-2" href="/catalog/create">Tambah Catalog</a>
        <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>