<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Order History</title>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      font-family: 'Georgia', serif; 
      margin-top: 25px;
    }

    .card {
      margin-bottom: 20px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: left;
      text-align: left;
    }

    h2 {
      color: #333; 
      font-size: 2.5em; 
      font-weight: bold;
      margin-bottom: 15px;
    }

    h6 {
      margin: 5px 0;
    }

    .buttons{
      align-items: center;
      text-align: center;
    }

    .btn {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <nav th:replace="~{fragments/navbar-seller :: navbar(activePage='order')}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Order History</h2>
    </div>
    <div th:if="${#lists.isEmpty(orderList)}">
      <p class="text-center">You have no orders yet.</p>
    </div>
    <div th:unless="${#lists.isEmpty(orderList)}">
      <div th:each="orderDetails : ${orderList}">
        <div class="row justify-content-center m-2">
          <div class="card" style="width: 30rem;">
            <div class="card-body text-left">
              <form th:action="@{/updateStatus/{orderId}(orderId=${orderDetails['order']['id']})}" method="post" class="update-status-form text-left">
                  <div th:each="orderItem, iterStat : ${orderDetails['listOrderItem']}">
                      <h6 th:text="'Item ' + ${iterStat.count}"></h6>
                      <h6 th:text="'Product name: ' + ${orderItem['productName']}"></h6>
                      <h6 th:text="'Quantity: ' + ${orderItem['quantity']}"></h6>
                      <p></p>
                  </div>
                  <h6 th:text="'Product total price : ' + ${orderDetails['order']['totalPrice']}"></h6>
                  <h6>
                      <span th:if="${orderDetails['order']['status'] == 0}" th:text="'Order status: Menunggu konfirmasi'"></span>
                      <span th:if="${orderDetails['order']['status'] == 1}" th:text="'Order status: Dikonfirmasi penjual'"></span>
                      <span th:if="${orderDetails['order']['status'] == 2}" th:text="'Order status: Menunggu kurir'"></span>
                      <span th:if="${orderDetails['order']['status'] == 3}" th:text="'Order status: Dalam perjalanan'"></span>
                      <span th:if="${orderDetails['order']['status'] == 4}" th:text="'Order status: Barang diterima'"></span>
                      <span th:if="${orderDetails['order']['status'] == 5}" th:text="'Order status: Selesai'"></span>
                  </h6>
                  <h6>
                      <label for="status">Select status:</label>
                      <select id="status" name="status">
                          <option value="0">Menunggu konfirmasi</option>
                          <option value="1">Dikonfirmasi penjual</option>
                          <option value="2">Menunggu kurir</option>
                          <option value="3">Dalam perjalanan</option>
                      </select>
                  </h6>
                  <div class="buttons">
                    <div th:if="${orderDetails['order']['status'] == 5}">
                      <button type="submit" class="btn btn-sm btn-danger" disabled>Selesai</button>
                    </div>
                    <div th:if="${orderDetails['order']['status'] == 4}">
                      <button type="submit" class="btn btn-sm btn-danger" disabled>Barang diterima</button>
                    </div>
                    <div th:unless="${orderDetails['order']['status'] == 5}">
                      <button type="submit" class="btn btn-sm btn-primary">Update Order Status</button>
                    </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>