<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Order History</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }

    .container {
      margin-top: 50px;
    }

    .card {
      margin-bottom: 20px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: left;
      text-align: left;
    }

    h2 {
      color: #007bff;
    }

    h6 {
      margin: 5px 0;
    }

    .btn-update-status {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Order History</h2>
    </div>
    <div th:each="orderDetails : ${orderList}">
      <div th:if="${orderDetails['order']['status'] == 5 and !orderDetails['order']['withdrawn']}" class="row justify-content-center m-2">
        <div class="card" style="width: 30rem;">
          <div class="card-body text-left">
            <form th:action="@{/withdraw/{orderId}(orderId=${orderDetails['order']['id']})}" method="post" class="update-status-form text-left">
              <div th:each="orderItem, iterStat : ${orderDetails['listOrderItem']}">
                <h6 th:text="'Item ' + ${iterStat.count}"></h6>
                <h6 th:text="'Product name: ' + ${orderItem['productName']}"></h6>
                <h6 th:text="'Quantity: ' + ${orderItem['quantity']}"></h6>
                <p></p>
              </div>
              <h6 th:text="'Product total price : ' + ${orderDetails['order']['totalPrice']}"></h6>
              <h6 th:text="'Withdrawn status: ' + ${orderDetails['order']['withdrawn']}"></h6>
              <button type="submit" class="btn btn-sm btn-warning btn-update-status">Withdraw funds</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



</html>